.App {
  display: flex;
  direction: rtl;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  box-sizing: border-box;
  background-color: #f4f7fa;
  overflow-x: hidden; /* لمنع أي انزلاق */
  max-width: 100%;
}

.todo {
  transition: all 0.3s !important;
}

.todo:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: BC;
  src: url(/public/fonts/ArbFONTS-BritishCouncil-Arabic-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: BC;
  src: url(/public/fonts/ArbFONTS-BritishCouncil-Arabic-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: BC;
  src: url(/public/fonts/ArbFONTS-BritishCouncil-Arabic-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: BC;
  src: url(/public/fonts/ArbFONTS-BritishCouncil-Arabic-Light.ttf);
  font-weight: 300;
}
